


<h2 centrer>Sign up</h2>

<div class="jumbotron center">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	 
  	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email, autofocus: true, class: "form-control" %>
	</div>
		 
		  
	<div class="form-group">
		  		<%= f.label :password %><br>
		  		<%= f.password_field :password, class: "form-control" %>
	</div>
	<br>
	<div class ="form-group">
	  	<%= f.submit "Sign up", class: "btn btn-success" %>
	</div>

	<% end %>
</div> <!-- end of jumbotron div -->

<!-- taking away the small "sign in" link
 <%= render "devise/shared/links" %>
-->
